html,body{
    height: 100%; /* needed for sticky footer */
}
body { padding-top: 70px; }
h2, h3 { margin-top:2px;}
.small { font-size:.85em;}

#everything {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* Negative indent by footer height */
 	padding: 0 0 50px;
}

#app { 
	overflow:auto;
  	padding-bottom:50px; /* this needs to be bigger than footer height*/
}

.greyth th { background-color: #eee; border-color:#ddd;}
.fa-check-circle { color: #090;}
.fa-exclamation-triangle { color: #900;}
.hastip { border-bottom:1px black dotted; cursor:help;}

/* Navbar */
.dropdown-menu li a.selected { font-weight: bold;}

/* Sidebar */
.sidebar { overflow:hidden;  text-overflow: ellipsis;}
.sidebar .badge { font-weight: 200; font-size:0.7em;}
.sidebar .list-group-item { padding: 10px 6px;}
.sidebar .host { color:#999; font-size:0.85em; white-space: nowrap;}
.sidebar h3 { margin-bottom:3px;}

/* Home */
.vDatabases td i.host { color:#999; margin-left: 20px;}

/* Collection */
.container { max-width: none; margin-right:20px;}

.nav-pills li { cursor: pointer;}

.doctable {  table-layout:fixed; }
.doctable tr, .doctable td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pagination li {
	cursor: pointer;	
}

input#query { width:250px; display:inline-block;}
input#fields { width:150px; display:inline-block;}
input#sort { width:150px; display:inline-block;}
input#explain { margin-left:20px; display:inline-block;}
button#search { margin-left:50px; display:inline-block;}

/* Document */
.json { color:#999; }
.json .string { color: #1e796e; }
.json .number { color: #900; }
.json .boolean { color: #268bd2; }
.json .null { color: #268bd2; }
.json .key { color: #333; }

.vDocument .delDoc { margin-top:50px;}
.vDocument .showDoc { margin-top:50px;}

.pointer { cursor: pointer;}

/* Footer */

#footer {
	border-top: 1px solid black;
	text-align: center;
	height: 50px;
	color: #18bc9c;
}
#footer a { text-decoration: underline; }


