<div class="container vCollections" ng-init="init()" ><div class="row">

<div class="col-md-12">
	<ul class="nav nav-pills pull-right">
		<li ng-class="{active:tab==0}"><a ng-click="tab=0">Collections</a></li>
		<li ng-class="{active:tab==1}"><a ng-click="tab=1">Users</a></li>
		<li ng-class="{active:tab==2}"><a ng-click="tab=2">Stats</a></li>
		<li ng-class="{active:tab==3}"><a ng-click="tab=3">Actions</a></li>
	</ul>
	<h3>{{ selectedDB }}</h3>
	<span class="host">{{db.hosts | noport}}</span>
	<br class="clearfix"/>

	<div ng-show="tab==3" class="panel panel-primary">
		<div class="panel-heading"><b>Actions</b></div>
		<div class="panel-body">

			<button ng-hide="runningPerf" class="btn btn-info" ng-click="performance()">Run Performance Test</button>
			<span ng-show="runningPerf"><i class='fa fa-spinner fa-spin'></i> Running...</span>
			<span ng-show="testResults">{{ testResults }} sec</span>
		</div>
	</div>

	<div ng-show="tab==2" class="panel panel-primary">
		<div class="panel-heading"><b>Stats</b><a href="#/db/{{selectedDB}}" ng-hide="tab2details" ng-click="tab2details=true" class="pull-right">Show raw stats</a></div>
		
		<table ng-hide="(databases && databases.length==0)" class="table table-striped table-hover table-condensed">
			<tbody>
				<tr><th>Server</th><td colspan="3">{{ db.info.sysInfo }}</td></tr>
				<tr><th>User</th><td class="text-right">{{db.user}}</td>
					<th>Objects</th><td class="text-right">{{db.stats.objects | number:0}}</td></tr>
				<tr><th>ReplicaSet</th><td class="text-right" ng-bind-html="db.replicaSet | bool"></td>
					<th>Indexes</th><td class="text-right">{{db.stats.indexes | number:0}}</td></tr>
				<tr><th>SSL</th><td class="text-right" ng-bind-html="db.ssl | bool"></td>
					<th><span class="hastip" tooltip="The average size of each document." tooltip-placement="right">AvgObjSize</span></th><td class="text-right" ng-bind-html="db.stats.avgObjSize | bytes:1"></td></tr>
				<tr><th>Server Version</th><td class="text-right"><a href="http://docs.mongodb.org/manual/" target="_new" ng-bind-html="db.info.version | nullspin"></a></td>
					<th><span class="hastip" tooltip="If on, the profiler writes all the data it collects about slow queries to the system.profile collection." tooltip-placement="right" tooltip-append-to-body="1">Profile</span></th><td class="text-right" ng-bind-html="db.profile | profileLevel"></td></tr>
				<tr><th><span class="hastip" tooltip="The total size of the data held in this database including the padding factor." tooltip-placement="right">DataSize</span></th><td class="text-right" ng-bind-html="db.stats.dataSize | bytes:1"></td>
					<th><span class="hastip" tooltip="The total amount of space allocated to collections in this database for document storage." tooltip-placement="right">StorageSize</span></th><td class="text-right" ng-bind-html="db.stats.storageSize | bytes:1"></td></tr>
				<tr><th><span class="hastip" tooltip="The total size of all indexes created on this database." tooltip-placement="right">IndexSize</span></th><td class="text-right" ng-bind-html="db.stats.indexSize | bytes:1"></td>
					<th><span class="hastip" tooltip="The total size of the data files that hold the database. This value includes preallocated space and the padding factor." tooltip-placement="right">FileSize</span></th><td class="text-right" ng-bind-html="db.stats.fileSize | bytes:1"></td></tr>
			</tbody>
		</table>

		<div class="panel-footer" ng-show="tab2details"><b>buildinfo:</b> {{db.info | json}}<br /><b>dbStats: </b> {{db.stats | json}}</div>
	</div>
 
	<div ng-show="tab==1" class="panel panel-primary">
		<div class="panel-heading"><b>Users</b></div>
		
		<table ng-hide="(databases && databases.length==0) || db.health!=0" class="table table-striped table-hover table-condensed">
			<thead>
				<tr><th>User</th><th>readOnly</th></tr>
			<thead>
			<tbody>
				<tr ng-repeat="user in users"><th>{{ user.user }}</th><td>{{ user.readOnly }}</td></tr>
			</tbody>
		</table>

		<div class="panel-footer" ng-show="tab2details"><b>buildinfo:</b> {{db.info | json}}<br /><b>dbStats: </b> {{db.stats | json}}</div>
	</div>


	<div class="panel panel-primary">
	<div class="panel-heading"><b>Collections</b></div>
	<div class="panel-body" ng-hide="collections"><i class='fa fa-spinner fa-spin'></i> Loading...</div>
	<table class="table table-striped greyth table-hover">
		<thead>
			<tr>
				<th>Collection <b class="caret"></b></th>
				<th class="text-right">Doc Count</th>
				<th class="text-right">Size</th>
				<th class="text-right"><span class="hastip" tooltip="The average size of each document." tooltip-placement="bottom">AvgObjSize</span></th>
				<th class="text-right"><span class="hastip" tooltip="The total amount of space allocated to this collection for document storage." tooltip-placement="bottom">StorageSize</span></th>
				<th class="text-right">Indexes</th>
				<th class="text-right"><span class="hastip" tooltip="The total size of all indexes created on this collection." tooltip-placement="bottom">IndexSize</span></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="databases && databases.length==0"><td colspan="7"><i class='fa fa-exclamation-triangle'></i> No databases are configured in config.php.  Please look at php/config_template.php for an example config file. Make a copy of this and rename it config.php and then put your Mongo DB credentials inside.</td></tr>
			<tr ng-show="collections==undefined || collections=={}"><td colspan="7"><i class='fa fa-spinner fa-spin'></i> Loading...</td></tr>
			<tr ng-hide="db.health==0 || collections==undefined || collections=={}"><td colspan="7" ng-bind-html="db.health | healthDecode"></td></tr>
			<tr ng-repeat="c in collections" class="text-right">
				<td class="text-left"><a href="#/db/{{selectedDB}}/{{c.name}}">{{c.name}}</a></td>
				<td>{{c.stats.count | number:0}}</td>
				<td ng-bind-html="c.stats.size | bytes:1"></td>
				<td ng-bind-html="c.stats.avgObjSize | bytes:1:1"></td>
				<td ng-bind-html="c.stats.storageSize | bytes:1"></td>
				<td>{{c.stats.nindexes | number}}</td>
				<td ng-bind-html="c.stats.totalIndexSize | bytes:1"></td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer" ng-show="collections!=undefined">{{collections.length | number:0}} Collections</div>
	</div>

	<br />
	<button type="button" class="btn btn-default" ng-hide="showAddCollection" ng-click="showAddCollection=true">New Collection</button>
	<div class="panel panel-success" ng-show="showAddCollection">
	<div class="panel-heading"><b>Create Collection</b></div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" ng-submit="addCollection()">
		<div class="form-group">
			<label for="addCollectionName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10 input-group-sm"><input type="text" class="form-control" id="addCollectionName" ng-model="addCollectionName" placeholder="Name"></div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox"><label><input type="checkbox" value="1" ng-model="addCollectionCapped"> Capped Collection</label></div>
			</div>
		</div>
		<div class="form-group">
			<label for="addCollectionSize" class="col-sm-2 control-label">Max Size</label>
			<div class="col-sm-9 input-group-sm"><input type="text" ng-disabled="!addCollectionCapped" class="form-control" id="addCollectionSize" ng-model="addCollectionSize" placeholder="1000"></div>
			<div class="col-sm-1">bytes</div>
		</div>
		<div class="form-group">
			<label for="addCollectionMax" class="col-sm-2 control-label">Max Docs</label>
			<div class="col-sm-9 input-group-sm"><input type="text" ng-disabled="!addCollectionCapped" class="form-control" id="addCollectionMax" ng-model="addCollectionMax" placeholder="1000"></div>
			<div class="col-sm-1">docs</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</div>
		</form>
	
	</div>
</div>

</div></div>