<div class="container" ng-init="init()" ><div class="row">

<div class="col-md-2 sidebar">
	<h3>{{ selectedDB }}</h3>

	<table class="table table-striped table-bordered table-hover table-condensed small">
		<tbody>
			<tr><th>User</th><td class="text-right">{{db.user}}</td></tr>
			<tr><th>ReplicaSet</th><td class="text-right">{{db.replicaSet}}</td></tr>
			<tr><th>SSL</th><td class="text-right">{{db.ssl}}</td></tr>
			<tr><th>Server Version</th><td class="text-right">{{db.info.version}}</td></tr>
		</tbody>
	</table>

	<table class="table table-striped table-bordered table-hover table-condensed small">
		<tbody>
			<tr><th>Objects</th><td class="text-right">{{db.stats.objects | number:0}}</td></tr>
			<tr><th>Indexes</th><td class="text-right">{{db.stats.indexes | number:0}}</td></tr>
			<tr><th>AvgObjSize</th><td class="text-right">{{db.stats.avgObjSize | bytes:1}}</td></tr>
			<tr><th>DataSize</th><td class="text-right">{{db.stats.dataSize | bytes:1}}</td></tr>
			<tr><th>StorageSize</th><td class="text-right">{{db.stats.storageSize | bytes:1}}</td></tr>
			<tr><th>IndexSize</th><td class="text-right">{{db.stats.indexSize | bytes:1}}</td></tr>
			<tr><th>FileSize</th><td class="text-right">{{db.stats.fileSize | bytes:1}}</td></tr>
		</tbody>
	</table>
</div>
<div class="col-md-10">

	<table class="table table-bordered table-hover greyth small table-condensed">
		<tbody>
			<tr><th>Host(s)</th><td colspan="3">{{db.hosts}}</td></tr>
			<tr><th>SysInfo</th><td colspan="3">{{db.info.sysInfo}}</td></tr>
		</tbody>
	</table>

	<table class="table table-striped table-bordered greyth table-hover">
		<thead>
			<tr>
				<th>Collection</th>
				<th class="text-right">Count</th>
				<th class="text-right">Size</th>
				<th class="text-right">AbvObjSize</th>
				<th class="text-right">StorageSize</th>
				<th class="text-right">Indexes</th>
				<th class="text-right">IndexSize</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in collections" class="text-right">
				<td class="text-left"><a href="#/db/{{selectedDB}}/{{c.name}}">{{c.name}}</a></td>
				<td >{{c.stats.count | number:0}}</td>
				<td>{{c.stats.size | bytes:1}}</td>
				<td>{{c.stats.avgObjSize | bytes:1}}</td>
				<td>{{c.stats.storageSize | bytes:1}}</td>
				<td>{{c.stats.nindexes | number}}</td>
				<td>{{c.stats.totalIndexSize | bytes:1}}</td>
			</tr>
		</tbody>
	</table>
	<span ng-show="db.stats.collections!=undefined">{{db.stats.collections | number:0}} Collections</span>

</div>

</div></div>