<div class="container vCollection" ng-init="init()" ><div class="row">

<div class="col-md-2 sidebar">
	<h3><a href="#/db/{{selectedDB}}">{{ selectedDB }}</a></h3>
	<br />
	<div class="list-group">
		<a ng-repeat="c in collections" class="list-group-item" ng-class="{active:c.name==collection.name}" href="#/db/{{selectedDB}}/{{c.name}}">{{c.name}} <span class="badge">{{c.stats.count | bignumber}}</span></a>
	</div>
	<span ng-show="db.stats.collections!=undefined">{{collections.length | number:0}} Collections</span>
</div>
<div class="col-md-10" ng-show="allCollections[selectedDB]!=undefined && collection==undefined">
	<h3>Collection Not Found</h3>
	<p>Sorry, there is no collection nammed {{selectedCol}} in this database.</p>
</div>
<div class="col-md-10" ng-show="allCollections[selectedDB]==undefined && collection==undefined">
	<i class='fa fa-spinner fa-spin'></i> Loading...
</div>
<div class="col-md-10" ng-hide="collection==undefined">

	<ul class="nav nav-pills pull-right">
		<li ng-class="{active:tab==0}"><a ng-click="tab=0">Documents</a></li>
		<li ng-class="{active:tab==1}"><a ng-click="tab=1">Indexes</a></li>
		<li ng-class="{active:tab==2}"><a ng-click="tab=2">Stats</a></li>
		<li ng-class="{active:tab==3}"><a ng-click="tab=3">Actions</a></li>
	</ul>
	<h3>{{selectedCol}}</h3>
	<br class="clearfix"/>

	<div ng-show="tab==3" class="panel panel-primary">
		<div class="panel-heading"><b>Actions</b></div>
		<div class="panel-body">
			<button class="btn btn-danger" ng-click="deleteCollection()">Delete Collection</button>
		</div>
	</div>

	<div ng-show="tab==2" class="panel panel-primary">
		<div class="panel-heading"><b>Stats</b><a href="#/db/{{selectedDB}}/{{selectedCol}}" ng-hide="tab2details" ng-click="tab2details=true" class="pull-right">Show raw stats</a></div>
		<table class="table table-striped table-bordered greyth small table-condensed">
			<thead>
				<tr>
					<th>Count</th>
					<th><span class="hastip" tooltip="The actual size of the collection." tooltip-placement="right">Size</span></th>
					<th><span class="hastip" tooltip="The average size of each document." tooltip-placement="right">AvgObjSize</span></th>
					<th><span class="hastip" tooltip="The total amount of space (pre)allocated to this collection for document storage." tooltip-placement="bottom">StorageSize</span></th>
					<th>Indexes</th>
					<th><span class="hastip" tooltip="The total size of all indexes created on this collection." tooltip-placement="bottom">IndexSize</span></th>
					<th><span class="hastip" tooltip="The max size of the collection, if the collection is capped." tooltip-placement="bottom">Capped</span></th>
					<th><span class="hastip" tooltip="The max number of records, if the collection is capped." tooltip-placement="bottom">Max</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{collection.stats.count | number}}</td>
					<td ng-bind-html="collection.stats.size  | bytes:1"></td>
					<td ng-bind-html="collection.stats.avgObjSize | bytes:1:1"></td>
					<td ng-bind-html="collection.stats.storageSize | bytes:1"></td>
					<td>{{collection.stats.nindexes | number}}</td>
					<td ng-bind-html="collection.stats.totalIndexSize | bytes:1"></td>
					<td ng-bind-html="collection.namespace.size | bytes:0:1"></td>
					<td ng-bind-html="collection.stats.max | number"></td>
					
				</tr>
			</tbody>
		</table>
		<div class="panel-footer" ng-show="tab2details"><b>collStats:</b> {{collection.stats | json}}<br /><b>system.namespaces.options: </b> {{collection.namespace | json}}</div>
	</div>

	<div ng-show="tab==1" class="panel panel-primary">
		<div class="panel-heading"><b>Indexes</b></div>
		<table class="table table-striped table-bordered greyth small table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Index</th>
					<th><span class="hastip" tooltip="A unique index causes MongoDB to reject all documents that contain a duplicate value for the indexed field." tooltip-placement="bottom">Unique</span></th>
					<th><span class="hastip" tooltip="Builds the index in the background slowly instead of blocking the database for reads/writes." tooltip-placement="bottom">Background</span></th>
					<th><span class="hastip" tooltip="To force the creation of a unique index, you can specify the dropDups option, which will only index the first occurrence of a value for the key, and delete all subsequent values." tooltip-placement="bottom">DropDups</span></th>
					<th><span class="hastip" tooltip="Sparse indexes only contain entries for documents that have the indexed field, even if the index field contains a null value. For single-field indexes only." tooltip-placement="bottom">Sparse</span></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="indexes==undefined || indexes=={}"><td colspan="8"><i class='fa fa-spinner fa-spin'></i> Loading...</td></tr>
				<tr ng-repeat="index in indexes">
					<td>{{index.name}}</td>
					<td>{{index.key}}</td>
					<td ng-bind-html="index.unique | bool"></td>
					<td ng-bind-html="index.background | bool"></td>
					<td ng-bind-html="index.dropDups | bool"></td>
					<td ng-bind-html="index.sparse | bool"></td>
					<td class="text-center">
						<button type="button" class="btn btn-danger btn-xs" ng-click="deleteIndex(index.name)">
						<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
				<tr ng-hide="indexes==undefined || indexes=={}">
					<td><input type="text" class="form-control input-sm" ng-model="i_name" placeholder="Optional Name" /></td>
					<td><input type="text" class="form-control input-sm" ng-model="i_index" placeholder='Index JSON'/></td>
					<td><input type="checkbox" ng-model="i_unique" /></td>
					<td><input type="checkbox" ng-model="i_back" /></td>
					<td><input type="checkbox" ng-model="i_drop" /></td>
					<td><input type="checkbox" ng-model="i_sparse" /></td>
					<td class="text-center">
						<button type="button" class="btn btn-success btn-xs" ng-click="addIndex()">
						<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading"><b>Documents</b>
			<div class="btn-group pull-right">
  				<button type="button" class="btn btn-xs btn-default" ng-model="displayMode" btn-radio="1"><i class='fa fa-table'></i> Show as table</button>
  				<button type="button" class="btn btn-xs btn-default" ng-model="displayMode" btn-radio="2"><i class='fa fa-list-ul'></i> Show as json</button>
			</div>
			
		</div>
		<div class="panel-body">
	  	<form ng-submit="search()">
		find( { 
		<input type="text" class="form-control input-sm" id="query" ng-model="query" placeholder="criteria">
		} , {
		<input type="text" class="form-control input-sm" id="fields" ng-model="fields" placeholder="projection">
		} ) . sort( {
		<input type="text" class="form-control input-sm" id="sort" ng-model="sort" placeholder="sort">
		} )
		<button type="submit" id="search" class="btn btn-default btn-info btn-sm" ng-click="search()">Search</button>
		</form>
		</div>	
		<div class="panel-footer" ng-hide="error || documents==undefined || documents==[]">
			<a href="#/db/{{selectedDB}}/{{selectedCol}}" ng-hide="rawexplain" ng-click="explainQuery()" class="pull-right">Explain</a>
			Query found {{ explain.matches }} documents in {{ explain.time }}ms. It scanned {{ explain.scanned }} documents using index "{{ explain.index }}". <span ng-hide="nolimit">Calculating total documents <i class='fa fa-spinner fa-spin'></i> </span><span ng-show="nolimit">{{ nolimit |number }} documents total match this query.</span>
		</div>
		<div class="panel-footer" ng-show="rawexplain">
			<span ng-hide="explainFull"><i class='fa fa-spinner fa-spin'></i> Loading...</span>
			<span ng-show="explainFull">Without a limit, query found {{ explainFull.matches | number }} documents in {{ explainFull.time }}ms. It scanned {{ explainFull.scanned | number }} documents using index "{{ explainFull.index }}".</span>
		</div>
		<div class="panel-footer error" ng-show="error">{{error }}</div>
	

		<table ng-show="displayMode==1" class="table table-striped table-hover doctable">
			<thead>
				<tr>
					<th class="small" width="190">ID</th>
					<th ng-repeat="cols in tableHeadings">{{cols}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="documents==undefined || documents==[]"><td colspan="{{tableHeadings.length+1}}"><i class='fa fa-spinner fa-spin'></i> Loading...</td></tr>
				<tr ng-repeat="doc in documents">
					<td class="small" width="190"><a href="#/db/{{selectedDB}}/{{selectedCol}}/{{doc._id.$id}}">{{doc._id.$id}}</a></td>
					<td ng-repeat="cols in tableHeadings">{{doc[cols]}}</td>
				</tr>
			</tbody>
		</table>
		
		<table ng-show="displayMode==2" class="table table-striped table-hover doctable">
			<tbody>
				<tr ng-show="documents==undefined || documents==[]"><td colspan="2"><i class='fa fa-spinner fa-spin'></i> Loading...</td></tr>
				<tr ng-repeat="doc in documents">
					<td class="small" width="190"><a href="#/db/{{selectedDB}}/{{selectedCol}}/{{doc._id.$id}}">{{doc._id.$id}}</a></td><td class="json" ng-bind-html="doc | colorjson"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<span ng-hide="nolimit"><i class='fa fa-spinner fa-spin'></i> Calculating total pages...</span>

	<span ng-hide="documents==undefined || documents==[] || pageSize.name>documents.length || nolimit==undefined">
		<pagination total-items="nolimit" page="page" max-size="maxSize" items-per-page="pageSize.name" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" on-select-page="selectPage(page)"></pagination>
	   <pre>Page: {{page}} / {{numPages}} <span class="pull-right">docs per page:<select ng-model="pageSize" ng-change="update();" ng-options="n.name for n in pageSizeOptions"></select></span></pre>
	</span>

</div>

</div></div>