<div class="container vCollection" ng-init="init()" ><div class="row">

<div class="col-md-2">
<h3><a href="#/db/{{selectedDB}}">{{ selectedDB }}</a></h3>

	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr><th>Objects</th><td class="text-right">{{db.stats.objects | number:0}}</td></tr>
			<tr><th>Indexes</th><td class="text-right">{{db.stats.indexes | number:0}}</td></tr>
			<tr><th>AvgObjSize</th><td class="text-right">{{db.stats.avgObjSize | number:1}} b</td></tr>
			<tr><th>DataSize</th><td class="text-right">{{db.stats.dataSize/1024 | number:1}} kb</td></tr>
			<tr><th>StorageSize</th><td class="text-right">{{db.stats.storageSize/1024 | number:1}} kb</td></tr>
			<tr><th>IndexSize</th><td class="text-right">{{db.stats.indexSize/1024 | number:1}} kb</td></tr>
			<tr><th>FileSize</th><td class="text-right">{{db.stats.fileSize/1024 | number:1}} kb</td></tr>
		</tbody>
	</table>

	<b>Collections ({{db.stats.collections | number:0}})</b>

	<ul>
		<li ng-repeat="c in collections" ng-class="{selected:c.name==collection.name}"><a href="#/db/{{selectedDB}}/{{c.name}}">{{c.name}}</a></li>
	</ul>

</div>
<div class="col-md-10">
	<h3>{{collection.name}}</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Count</th>
				<th>Size (kb)</th>
				<th>AbvObjSize (b)</th>
				<th>StorageSize (kb)</th>
				<th>Indexes</th>
				<th>IndexSize (kb)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{collection.stats.count | number}}</td>
				<td>{{collection.stats.size/1024  | number:1}}</td>
				<td>{{collection.stats.avgObjSize | number:1}}</td>
				<td>{{collection.stats.storageSize/1024 | number:1}}</td>
				<td>{{collection.stats.nindexes | number}}</td>
				<td>{{collection.stats.totalIndexSize/1024 | number:1}}</td>
			</tr>
		</tbody>
	</table>

	<b>Indexes</b>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Index</th>
				<th>Unique</th>
				<th>Background</th>
				<th>Safe</th>
				<th>DropDupes</th>
				<th>Sparse</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="index in indexes">
				<td>{{index.name}}</td>
				<td>{{index.key}}</td>
				<td>{{index.unique}}</td>
				<td>{{index.background}}</td>
				<td>{{index.safe}}</td>
				<td>{{index.dropDups}}</td>
				<td>{{index.sparse}}</td>
				<td>
					<button type="button" class="btn btn-danger btn-xs">
 	 				<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="i_name" /></td>
				<td><input type="text" ng-model="i_index" /></td>
				<td><input type="checkbox" ng-model="i_unique" /></td>
				<td><input type="checkbox" ng-model="i_back" /></td>
				<td><input type="checkbox" ng-model="i_safe" /></td>
				<td><input type="checkbox" ng-model="i_drop" /></td>
				<td><input type="checkbox" ng-model="i_sparse" /></td>
				<td>
					<button type="button" class="btn btn-success btn-xs">
 	 				<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<b>Documents</b>
	<div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    <br />

	<table class="table table-striped table-bordered table-hover doctable">
		<tbody>
			<tr ng-repeat="doc in documents">
				<td>{{doc}}</td>
			</tr>
		</tbody>
	</table>
	
	<pagination total-items="collection.stats.count" page="page" max-size="maxSize" items-per-page="pageSize" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" on-select-page="selectPage(page)"></pagination>
    <pre>Page: {{page}} / {{numPages}}</pre>


</div>

</div></div>