<div class="container" ng-init="init()" >

<table class="table table-striped table-bordered table-hover greyth">
	<thead><tr>
		<th>Name</th>
		<th>Collections</th>
		<th>Objects</th>
		<th>Size</th>
		<th>Version</th>
		<th>Healthcheck</th>
	</tr></thead>
	<tbody>
	<tr ng-repeat="db in databases">
		<td><a href="#/db/{{db.name}}">{{db.name}}</a></td>
		<td ng-bind-html="db.stats.collections | number"></td>
		<td ng-bind-html="db.stats.objects | number"></td>
		<td ng-bind-html="db.stats.fileSize | bytes:1"></td>
		<td ng-bind-html="db.info.version | nullspin"></td>
		<td ng-bind-html="db.health | healthDecode"></td>
	</tr>
	</tbody>
</table>
</div>