<div class="container vDocument" ng-init="init()" ><div class="row">

<div class="col-md-2 sidebar">
	<h3><a href="#/db/{{selectedDB}}">{{ selectedDB }}</a></h3>
	<br />
	<div class="list-group">
		<a ng-repeat="c in collections track by $index" class="list-group-item" ng-class="{active:c.name==collection.name}" href="#/db/{{selectedDB}}/{{c.name}}"><span class="title">{{c.name}}</span><span class="badge">{{c.stats.count | bignumber}}</span></a>
	</div>
	<span ng-show="db.stats.collections!=undefined">{{db.stats.collections | number:0}} Collections</span>
</div>
<div class="col-md-10">
	<h3><a href="#/db/{{selectedDB}}/{{selectedCol}}">{{selectedCol}}</a> &gt; {{ selectedDoc }}</h3>

	<div class="showDoc" ng-show="doc && doc._id">
		<div id="jsoneditor" jsoneditor="currDoc" dirty="dirty" readonly="{{db.readonly}}"></div>
		<div class="pull-right small">Use the action menu to add fields.</div>

		<div class="editDoc" ng-show="!db.readonly && confirm==0 && (dirty==true || doc._id=='assigned after save')">
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button type="button" class="btn btn-success" ng-click="save()">Save</button>
		</div>

		<div ng-show="saving"><br /><i class='fa fa-spinner fa-spin'></i> Saving...</div>

		<div class="delDoc" ng-hide="db.readonly || selectedDoc=='new'">
			<button ng-show="confirm==0" type="button" class="btn btn-warning" ng-hide="confirm" ng-click="confirm=1">Delete Document</button>
			<span ng-show="confirm==1">
				Are you sure?<br /><br />
				<button type="button" class="btn btn-default" ng-click="confirm=0">cancel</button>
				<button type="button" class="btn btn-danger" ng-click="delete()">sudo Delete Document</button>
			</span>
			<i ng-show="confirm==2" class='fa fa-spinner fa-spin'></i>
		</div>
	</div>
	<div ng-show="doc==null">
		The document does not exist
	</div>
	<div ng-show="doc && doc._id==undefined">
		<i class='fa fa-spinner fa-spin'></i> Loading...
	</div>
</div>

</div></div>