<div class="container vDocument" ng-init="init()" ><div class="row">

<div class="col-md-2 sidebar">
	<h3><a href="#/db/{{selectedDB}}">{{ selectedDB }}</a></h3>
	<br />
	<div class="list-group">
		<a ng-repeat="c in collections" class="list-group-item" ng-class="{active:c.name==collection.name}" href="#/db/{{selectedDB}}/{{c.name}}">{{c.name}} <span class="badge">{{c.stats.count | bignumber}}</span></a>
	</div>
	<span ng-show="db.stats.collections!=undefined">{{db.stats.collections | number:0}} Collections</span>
</div>
<div class="col-md-10">
	<h3><a href="#/db/{{selectedDB}}/{{selectedCol}}">{{selectedCol}}</a> &gt; {{ selectedDoc }}</h3>

	<div class="pull-right">
		<a ng-click="" class="pointer"><i class='fa fa-table'></i> Show as table</a> &nbsp;&nbsp; <a ng-click="" class="pointer"><i class='fa fa-list-ul'></i> Show as json</a>
	</div>

	<div class="showDoc" ng-show="doc && doc._id">
		<pre ng-bind-html="doc | json"></pre>

		<div class="delDoc">
			<button ng-show="confirm==0" type="button" class="btn btn-warning" ng-hide="confirm" ng-click="confirm=1">Delete Document</button>
			<span ng-show="confirm==1">
				Are you sure?<br /><br />
				<button type="button" class="btn btn-danger" ng-click="delete()">sudo Delete Document</button>
			</span>
			<i ng-show="confirm==2" class='fa fa-spinner fa-spin'></i>
		</div>
	</div>
	<div ng-show="doc==null">
		The document does not exist
	</div>
	<div ng-show="doc && doc._id==undefined">
		<i class='fa fa-spinner fa-spin'></i> Loading...
	</div>
</div>

</div></div>